<html ng-app="statusApp">
<head>
    <title>CM JS dev, requirement 8</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/moment.min.js"></script>
    <script src="Scripts/angular-moment.min.js"></script>

    <script src="Requirement8.js"></script>

</head>

<body ng-controller="statusCtrl">
    <div class="container" style="padding-top:30px">
        <div id="loading" ng-if="!loaded">
            Loading...
        </div>
        <div id="results" ng-if="loaded && statuses.length > 0">
            <div class="issue-template" ng-repeat="status in statuses">
                <h3 ng-if="status.status == 'Unresolved'">{{status.status}} - Begin <span am-time-ago="status.beganAt"></span></h3>
                <h3 ng-if="status.status == 'Resolved'">{{status.title}} - Resolved <span am-time-ago="status.resolvedAt"></span></h3>
                <p>{{status.description}}</p>
                <div style="padding-left:50px">
                    <p>Updates:</p>
                    <div class="update-template" ng-repeat="update in status.updates">
                        <p>{{update.update}}</p>
                        <em>By {{update.by}} <span am-time-ago="update.at"></span></em>
                        <hr style="width:50%" ng-if="!$last" />
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div id="results" ng-if="loaded && statuses.length == 0">
            <div class="no-issues-template">Everybody is happy!</div>
        </div>
        <div id="error" ng-if="loaded && error">
            Error retrieving statuses: {{ error }}
        </div>
    </div>
</body>
</html>